apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: go-http
  name: go-http
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: go-http
status:
  loadBalancer: {}
